# Blacklist by Default.
# Whitelist Selectively.
*

# Project Files
!*.sln
!*.csproj
!*.csproj.user

# Source Files
!*.cs
!*.xaml
!*.razor
!*.html
!*.css


# Data Files
!*.json
!*.xml
!*.plist
!*.xcprivacy
!*.appxmanifest

# Text Files
!*.txt
!*.md

# Image Files
!*.svg
!*.jpg
!*.jpeg
!*.png

# Font Files
!*.ttf

# Directories
!Main/
!Main/Bluetooth/
!Main/Bluetooth/*.cs
!Main/Services/
!Main/Services/*.cs
!Main/Components/
!Main/Components/Layout/
!Main/Components/Pages/
!Main/Platforms/
!Main/Platforms/Android/
!Main/Platforms/Android/Resources/
!Main/Platforms/Android/Resources/values/
!Main/Platforms/iOS/
!Main/Platforms/iOS/Resources/
!Main/Platforms/MacCatalyst/
!Main/Platforms/Tizen/
!Main/Platforms/Windows/
!Main/Properties/
!Main/Resources/
!Main/Resources/AppIcon/
!Main/Resources/Fonts/
!Main/Resources/Images/
!Main/Resources/Raw/
!Main/Resources/Splash/
!Main/wwwroot/
!Main/wwwroot/css/
!Main/wwwroot/images/