<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Demeter</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Metrics
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Analytics">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Analytics
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="setting">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
    </nav>
</div>
